<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:c="http://www.springframework.org/schema/c"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="beanA" class="org.bana.test.springmvcjavaconfig.config.bean.BeanA">
	</bean>
	
	<bean id="beanB" class="org.bana.test.springmvcjavaconfig.config.bean.BeanB" scope="prototype">
	</bean>
	
	<bean id="serviceA" class="org.bana.test.springmvcjavaconfig.config.bean.ServiceA">
		<property name="beanA" ref="beanA"></property>
		<property name="beanB" ref="beanB"></property>
	</bean>
	
	<bean id="serviceB" class="org.bana.test.springmvcjavaconfig.config.bean.ServiceB">
		<constructor-arg name="beanB" ref="beanB"></constructor-arg>
	</bean>
	
	<bean id="serviceC" class="org.bana.test.springmvcjavaconfig.config.bean.ServiceC">
	</bean>

</beans>