<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"  
	xmlns:mvc="http://www.springframework.org/schema/mvc"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
    >
    

    <!-- 自动扫描包，可以写多个 -->
    <context:component-scan base-package="org.bana.test.springmvcxml.mvc" />
    
	<!-- spring4.0以后的mvc建议只采用以下默认声明，不使用主动式声明 -->
    <mvc:annotation-driven/>
    <!-- 允许对静态资源文件的访问 --> 
	<mvc:default-servlet-handler/>
	
    <!-- 定义首页 -->
	<mvc:view-controller path="/" view-name="redirect:/index.jsp" />
    
    <!-- JSP视图解析器 -->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	    <property name="prefix" value="/WEB-INF/pages/"/>
	    <property name="suffix" value=".jsp"/>
    </bean>
	
</beans>